# Copy this file to .env and fill values
# PRIVATE_KEY=0x...
# RPC=https://sepolia.base.org
# AMOUNT=10

# JSONBin master key (keep secret). Example:
# JSONBIN_MASTER_KEY=$2a$10$J9j9tMolh832p83nkmFoH.f3gPfUt5zOzYvH/R0SnZvmQr0pBtweq
